{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
            <div id='about'>
                <div class='inner'>
                    <p>i was in slight disbelief after learning about the science of timbre, so i decided to make tonehack to prove to myself that what i had learned could indeed be used to create all sounds from scratch.</p>
                    <p>it <em>pretty much</em> worked.</p>
                    <p>if you find any interesting sounds, or timbres that actually sound like real instrumets, you should email them to me.</p>
                    <div class='hr'></div>
                    <table>
                        <tr>
                            <th>
                                by
                            </th>
                            <td>
                                <a href='http://muratayfer.com'>murat ayfer</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                contact
                            </th>
                            <td>
                                <a href='mailto:murat@ayfer.net'>murat@ayfer.net</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                source code
                            </th>
                            <td>
                                <a href='http://github.com/mayfer/tonehack'>github</a>
                            </td>
                        </tr>
                    </table>
                    <div class='hr'></div>
                    <p>for now, this is probably either just a toy or an educational tool.</p>
                    <p>if there is interest, i might implement downloadable instruments to be used in oher music software (Garage Band, Ableton Live, etc.)</p>
                    <p>feel free to <a href='https://www.paypal.com/ca/cgi-bin/webscr?cmd=_flow&SESSION=eIkRcvANdL1f7XE7atIdOyTYD9n5elgAhNHLW3QVwzEuGYB9jpeBM5K1Ajy&dispatch=5885d80a13c0db1f8e263663d3faee8d5348ead9d61c709ee8c979deef3ea735'>buy me a beer</a> if you'd like to encourage me to keep working on this.</p>
                </div>
            </div>
{% endblock %}
