{% extends 'base.html' %}
{% block head %}
        <!-- default waves to load -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <script type='text/javascript'>
            presets = {};
            presets['Pure tone'] = [{'freq': 220, 'duration': 1000, 'volume_envelope': [1]}];
            presets['Resonant'] = [
                {'freq': 220, 'duration': 1000, 'volume_envelope': [1]},
                {'freq': 440, 'duration': 1000, 'volume_envelope': [1]},
                {'freq': 660, 'duration': 1000, 'volume_envelope': [1]},
                {'freq': 880, 'duration': 1000, 'volume_envelope': [1]},
            ];
        </script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/presets/guitar.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/presets/fake_string.js'></script>
        <script type='text/javascript'>

            $(document).ready(function() {
                var options = {details: false, wave_height: 60, audio_context: new AudioContext() };
                var simple_string = new waveCanvas($('#simple-string'), presets['Pure tone']).init(options);

                var options = {details: false, wave_height: 30, audio_context: new AudioContext() };
                var resonant_string = new waveCanvas($('#resonant-string'), presets['Resonant']).init(options);
                var decaying_overtones = new waveCanvas($('#decaying-overtones'), presets['Fake string']).init(options)

                var options = {details: false, wave_height: 30, audio_context: new AudioContext() };
                var individually_decaying_overtones = new waveCanvas($('#individually-decaying-overtones'), presets['Guitar']).init(options)
                
                
                simple_string.setLabel('A hypothetical string vibrating at a single, constant frequency');
                resonant_string.setLabel('Combining the vibrations of the first four overtones');
                decaying_overtones.setLabel('First four overtones, now with attack and decay');
                individually_decaying_overtones.setLabel('Each overtone starts at a different volume,<br />and decays at a different rate.');
                
                var pages = $('.page');
                var current_page = 0;
                var num_pages = pages.length;

                $('.forward').on('click', function(e){
                    e.preventDefault();
                    current_page = (current_page + 1) % num_pages;
                    update_page();
                });
                $('.back').on('click', function(e){
                    e.preventDefault();
                    current_page = (current_page - 1) % num_pages;
                    update_page();
                });

                function update_page() {
                    if(current_page < 0) {
                        current_page = num_pages + current_page;
                    }
                    $('.pageflip .pagenum').text( (current_page+1) + "/" + num_pages);
                    pages.hide();
                    $(pages.get(current_page)).show();
                }

                update_page();

            });

        </script>
{% endblock %}
{% block content %}
{% comment %}
            <div id='fec'>
                <p>
                    I haven't finished writing this part yet, but it will explain and demonstrate:
                    <ul>
                        <li>What timbre really is (a.k.a texture of a sound; the thing that makes you distinguish between a violin and a guitar).</li>
                        <li>Why certain timbres sound more pleasant than others.</li>
                        <li>How the basis of timbre is also the basis of chords (i.e. major, minor, etc.).</li>
                        <li>Why certain chords sound more pleasant than others.</li>
                        <li>A look at timbres of different instruments and sounds.</li>
                    </ul>
                </p>
            </div>
{% endcomment %}
{% endblock %}
{% block fullwidth_content %}
    <div id='article'>
        <div class='container-narrow'>
            <div class='pageflip'>
                <a href='#' class='back'>&laquo;</a>
                <span class='pagenum'></span>
                <a href='#' class='forward'>&raquo;</a>
            </div>
        </div>
        <div class='pages'>
            <div class='page'>
                <div class='container-narrow'>
                    <h3>Basics of timbre</h3>
                    <p>If you were ever curious about what allows you to distinguish between the sounds of a piano, a saxaphone or a violin, even if they're all playing the same note (same frequency), you will know that every sound you hear is actually more than just a single frequency. "A note" merely refers to the loudest of these frequencies.</p>
                    <p>Tonehack is an attempt to create an interface where you can create your own timbres from scratch, without having to learn, or be limited by knobs and switches like it is on typical synthesizers.</p>
                    <p>
                        The next few slides will demonstrate the most basic components that can give sound characteristics.
                        <br />
                        Head over to the <a href='{% url index %}'>timbre builder</a> if you already know what you're doing, or <a class='forward' href='#'>go to the next slide</a>.
                    </p>
                </div>
            </div>
            <div class='page'>
                <div class='container-narrow'>
                    <h3>Creating a pure tone with a simplified string model</h3>
                    <p>A tight string that is fixed at both ends vibrates when plucked.</p>
                    
                    <p>Below is a simplified, imaginary string. Let's assume that our simplified string wobbles up and down continuously when plucked, at a constant rate.</p>
                    <div id='simple-string' class='string' style='float: left; width: 300px;'></div>
                    <div style='float: left; width: 350px; margin-left: 30px;'>
                        <p>The resulting vibration that this up-down motion produces is a sine wave. For this particular example, the frequency of the sound is set to 220Hz.</p>
                        <p>Hit the "pluck" button. If such a string could exist in the physical world, this is what you would actually hear. A pure 220Hz sine wave, in sound form.</p>
                    </div>
                    <div class='clear'></div>
                </div>
                
                <div class='container-narrow'>
                    <p>Coming across pure tones in the physical world is extremely rare. In terms of non-electric sound sources, <a href='http://en.wikipedia.org/wiki/Tuning_fork'>tuning forks</a> are as close as we can get to pure tones.</p>
                </div>
            </div>
                        
            <div class='page'>
                <div class='container-narrow'>
                    <h3>Overtones (or <a href='http://en.wikipedia.org/wiki/Resonance'>resonant frequencies</a>)</h3>
                    <p>The reason a string wobbles up and down in repetitive motion is because as the string stretches one way, the tension that is building up gets released in the opposite direction at equal speed. Therefore it mirrors its previous motion. In this sense, it can be thought of as self-perpetuating motion.</p>
                    <p>The energy levels at which the string achieves self-perpetuating vibrations are called the <strong>resonant frequencies</strong>. For strings, the resonance depends on things such as the material or its tightness.</p>
                    <p>A string can have many resonant frequencies. When the strings are tied at both ends, the motion that is mirroring itself needs to have fixed nodes at exactly those points. These are called <strong>overtones</strong>.</p>
                    <p>The example below demonstrates the first few resonant wave patterns, or overtones, of a string.</p>
                    
                </div>
                <div class='container-medium'>
                    <div id='resonant-string' class='string' style='width: 300px; float: left;'></div>
                    <div style='float: left; width: 450px; margin-left: 20px;'>
                        <p>What you hear is a combination of the first four overtones at equal volume.</p>
                        <p>If you look at the wavelengths, you will note that each overtone is an integer multiple of the first overtone (2, 3, 4, ...) So if the first overtone was vibrating at 110Hz (meaning 110 up-down motions per second), then the rest would continue as 220Hz, 330Hz, 440Hz, etc.</p>
                    </div>
                </div>
                <div class='clear'></div>
            </div>

            <div class='page'>
                <div class='container-narrow'>
                    <h3>Attack and Decay</h3>
                    <p>A physical string loses energy as it vibrates, which leads to decay of volume. The first moment when a string is plucked is when it has the strongest vibrations, and then the volume quickly falls to a fraction of the initial strength. Then it decays slowly for a few seconds until it dies out. This is called the <strong>attack</strong> and the <strong>decay</strong>.</p>
                    <p>The example below has attack and decay, which you can follow visually with the wave animations.</p>
                    
                </div>
                <div class='container-medium'>
                    <div id='decaying-overtones' class='string' style='width: 300px; float: left;'></div>
                    <div style='float: left; width: 450px; margin-left: 20px;'>
                        <p>As you can hear, the attack and decay makes the sound feel a little bit less digital, little more realistic. I feel like this sounds more like a dull bell.</p>
                        <p>One important feature to note is that each overtone can decay at different speeds and patterns. For example with a guitar string, higher overtones die out much faster than lower overtones. This is demonstrated in the next example.</p>
                    </div>
                </div>
                <div class='clear'></div>
            </div>
            <div class='page'>
                <div class='container-narrow'>
                    <p>To add more realism, we will also need to add more overtones, since theoretically we could have an infinite number of resonant frequencies, which are getting quieter and quieter as the frequency keeps increasing.</p>
                    
                    <p>Now it's starting to sound more like a real string being plucked.</p>
                    <div id='individually-decaying-overtones' class='string' style='width: 500px; margin: 0 auto;'></div>
                    <p>
                        Load the <a class='preset' href='{% url instrument 'String-pluck-' %}'>Guitar preset</a> in the timbre builder to play around with it yourself.
                    </p>
                </div>
            </div>
        </div>

        <div class='container-narrow'>
            <div class='pageflip'>
                <a href='#' class='back'>&laquo;</a>
                <span class='pagenum'></span>
                <a href='#' class='forward'>&raquo;</a>
            </div>
        </div>
    </div>
{% endblock %}
