{% load current %}
<!DOCTYPE html>
<html>
    <head>
        <title>tonehack</title>
        <meta charset='utf-8' />
        <!-- libs -->
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/FileSaver.min.js'></script>

        <!-- hand-written js -->
        <script type='text/javascript' src='{{ STATIC_URL }}js/draw.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/animframe.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/notes.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/sound.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/waves.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/ui.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/piano.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/wavsaver.js'></script>

        <link href='{{ STATIC_URL }}icons/css/font-awesome.css' rel='stylesheet' type='text/css' />
        <link href='{{ STATIC_URL }}css/style.css' rel='stylesheet' type='text/css' />
        <link href='{{ STATIC_URL }}css/piano.css' rel='stylesheet' type='text/css' />
        <link href='{{ STATIC_URL }}css/article.css' rel='stylesheet' type='text/css' />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id='header'>
            <div class='container'>
                <h1>tonehack<span> &lt;</span></h1>
                <h2>timbres from scratch<span class='lt'> &lt;</span></h2>

                <div id='nav'>
                    {% with urlname=request.path|urlname %}
                    <a href='{% url index %}' {% if urlname = 'index'  %} class='selected' {% endif %}>Timbre builder</a>
                    <a href='{% url article %}' {% if urlname = 'article'  %} class='selected' {% endif %}>Further reading</a>
                    <a href='{% url browse %}' {% if urlname = 'browse'  %} class='selected' {% endif %}>Browse instruments</a>
                    <a href='{% url about %}' {% if urlname = 'about'  %} class='selected' {% endif %}>About</a>
                    {% endwith  %}
                </div>
            </div>
        </div>
        <div id='main'>
            <div class='container'>
            {% block content %}{% endblock %}
            </div>
            {% block fullwidth_content %}{% endblock %}
        </div>
        <div id='footer'>
            <div class='container'>
                <div class='column'>
                    made by <a href='http://muratayfer.com'>murat</a><br />
                    <span style='opacity: 0.8'>last updated may 2013</span><br />
                    <a href='{% url about %}'>more info</a>
                </div>
            </div>
        </div>
        {% block popups %}{% endblock %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39850405-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </body>
</html>
