{% extends 'base.html' %}
{% block head %}
        <!-- default waves to load -->
        <script type='text/javascript'>
            presets = {};
            presets['Pure tone'] = [{'freq': 220, 'duration': 1000, 'audio_amplitude': 1,}];
        </script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/presets/guitar.js'></script>
        <script type='text/javascript'>

            $(document).ready(function() {
                var overtones;
                if(window.localStorage['waves']) {
                    overtones = JSON.parse(window.localStorage['waves']);
                } else {
                    overtones = presets['Pure tone'];
                }
                canvas_overtones = new waveCanvas($('#overtones'), overtones).init();

                // load the other presets asynchronously
                var preset_paths = [
                    "{{ STATIC_URL }}js/presets/violin.js",
                    "{{ STATIC_URL }}js/presets/clarinet.js",
                    "{{ STATIC_URL }}js/presets/drum.js",
                    "{{ STATIC_URL }}js/presets/rhythmic_synth.js",
                ];
                require(preset_paths, function() {
                    var presets_div = $('#presets');
                    $.each(presets, function(key, preset){
                        $('<a>').attr('href', '#').addClass('preset').html(key).appendTo(presets_div).on('click', function(e){
                            e.preventDefault();
                            canvas_overtones.stop();
                            canvas_overtones.loadPreset(preset);
                            $('#presets').hide();
                        });
                    });
                });

                $('#piano').piano({
                    number_of_keys: 55,
                    keyboard_play: true,
                    key_height: 70,
                });

                $('#piano').on('click', '.note', function(e){
                    e.preventDefault();
                    var key = $(this);
                    if(!key.hasClass('playing')) {
                        key.addClass('playing');
                        var soundwave = canvas_overtones.playNote(key.data('freq'));
                        key.data('soundwave', soundwave);
                    } else {
                        key.removeClass('playing');
                        key.data('soundwave').pause();
                        key.data('soundwave', null);
                    }
                });
            });

        </script>
{% endblock %}
{% block content %}
            <div id='piano'> </div>
            <div id='tonehack'>
                <div id='overtones' class='wave-canvas'> </div>
                <div id='presets'>
                </div>
            </div>
            
            <div id='article'>
                <p>
                    <strong>F.E.C. (Frequently Encountered Confusions):</strong>
                    <ul>
                        <li>Brown line is the Volume Envelope</li>
                        <li>Green line is the Pitch bend (frequency shifting)</li>
                    </ul>
                </p>
            </div>
            <div id='help'>
                <h2>A small guide</h2>
            </div>
{% endblock %}
