{% extends 'base.html' %}
{% block head %}
        <!-- default waves to load -->
        <script type='text/javascript'>
            presets = {};
            presets['Pure tone'] = [{'freq': 220, 'duration': 1000, 'audio_amplitude': 1,}];
        </script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/presets/guitar.js'></script>
        <script type='text/javascript'>

            $(document).ready(function() {
                var overtones;
                if(window.localStorage['waves']) {
                    overtones = JSON.parse(window.localStorage['waves']);
                } else {
                    overtones = presets['Pure tone'];
                }
                canvas_overtones = new waveCanvas($('#overtones'), overtones).init();

                // load the other presets asynchronously
                var preset_paths = [
                    "{{ STATIC_URL }}js/presets/violin.js",
                    "{{ STATIC_URL }}js/presets/clarinet.js",
                    "{{ STATIC_URL }}js/presets/drum.js",
                    "{{ STATIC_URL }}js/presets/rhythmic_synth.js",
                ];
                require(preset_paths, function() {
                    var presets_div = $('#presets');
                    $.each(presets, function(key, preset){
                        $('<a>').attr('href', '#').addClass('preset').html(key).appendTo(presets_div).on('click', function(e){
                            e.preventDefault();
                            canvas_overtones.stop();
                            canvas_overtones.loadPreset(preset);
                            $('#presets').hide();
                        });
                    });
                });

                $('#piano').piano({
                    number_of_keys: 55,
                    keyboard_play: true,
                    key_height: 70,
                });

                $('#piano').on('click', '.note', function(e){
                    e.preventDefault();
                    var key = $(this);
                    if(!key.hasClass('playing')) {
                        key.addClass('playing');
                        var soundwave = canvas_overtones.playNote(key.data('freq'));
                        key.data('soundwave', soundwave);
                    } else {
                        key.removeClass('playing');
                        key.data('soundwave').pause();
                        key.data('soundwave', null);
                    }
                });
            });

        </script>
{% endblock %}
{% block content %}
            <div id='piano'> </div>
            <div id='tonehack'>
                <div id='overtones' class='wave-canvas'> </div>
                <div id='presets'>
                </div>
            </div>
            
            <div id='fec'>
                <strong>F.E.C. (Frequently Encountered Confusions):</strong>
                <ul>
                    <li>
                        Brown line is the Volume Envelope.<br />
                        <span>It's similar to an ADSR envelope, except you draw the whole thing by hand instead of using numeric values.</span>
                    </li>
                    <li>
                        Green line is the Pitch bend (frequency shifting).
                        <br />
                        <span>Center of the drawing area is the frequency you pick. Top and bottom edges are the octave above and octave below that, respectively.</span>
                    </li>
                    <li>
                        The string animations are for visualization only.<br />
                        <span>They serve no function. Except visualization.</span>
                    </li>
                    <li>
                        The letters on the piano keys mean you can type to play notes.<br />
                        <span>You can click the grey boxes below the piano keys to move the keyboard bindings around.</span>
                    </li>
                </ul>
            </div>
            <div id='help'>
                <div class='title'>
                    <h3>Quick Help</h3>
                    <a href='#' class='close'>&times;</a>
                </div>
                <p>Timbre, the texture of sound, the thing that makes you distinguish between a guitar and a saxaphone, is differences in overtonic content of the sounds they produce.</p>
                <p>This means that a single note you hear has several frequencies playing at once. Tonehack lets you pick these frequencies yourself, and using your cursor, draw how these frequencies change over time.</p>
            </div>
{% endblock %}
