{% extends 'base.html' %}
{% block head %}
        <!-- default waves to load -->
        <script type='text/javascript'>
            presets = {};
            default_tone = {{ default_instrument.waves_json|safe }};
        </script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/presets/guitar.js'></script>
        <script type='text/javascript'>

            $(document).ready(function() {
                var overtones;
                if(window.localStorage['waves']) {
                    overtones = JSON.parse(window.localStorage['waves']);
                } else {
                    overtones = default_tone;
                }
                canvas_overtones = new waveCanvas($('#overtones'), overtones).init();

                // load the other presets asynchronously
                var preset_paths = [
                    "{{ STATIC_URL }}js/presets/violin.js",
                    "{{ STATIC_URL }}js/presets/clarinet.js",
                    "{{ STATIC_URL }}js/presets/drum.js",
                    "{{ STATIC_URL }}js/presets/rhythmic_synth.js",
                ];
                require(preset_paths, function() {
                    var presets_div = $('#presets');
                    $.each(presets, function(key, preset){
                        $('<a>').attr('href', '#').addClass('preset').html(key).appendTo(presets_div).on('click', function(e){
                            e.preventDefault();
                            canvas_overtones.stop();
                            canvas_overtones.loadPreset(preset);
                            $('#presets').hide();
                        });
                    });
                });

                $('#piano').piano({
                    number_of_keys: 55,
                    keyboard_play: true,
                    key_height: 70,
                });

                $('#piano').on('click', '.note', function(e){
                    e.preventDefault();
                    var key = $(this);
                    if(!key.hasClass('playing')) {
                        key.addClass('playing');
                        var soundwave = canvas_overtones.playNote(key.data('freq'));
                        key.data('soundwave', soundwave);
                    } else {
                        key.removeClass('playing');
                        key.data('soundwave').pause();
                        key.data('soundwave', null);
                    }
                });
            });

        </script>
{% endblock %}
{% block content %}
            <div id='piano'> </div>
            <div id='tonehack'>
                <div id='overtones' class='wave-canvas'> </div>
            </div>
            
            <div id='fec'>
                <strong>F.E.C. (Frequently Encountered Confusions):</strong>
                <ul>
                    <li>
                        Brown line is the Volume Envelope.<br />
                        <span>It's similar to an <a href='http://en.wikipedia.org/wiki/Synthesizer#ADSR_envelope'>ADSR envelope</a>, except you draw the whole thing by hand instead of using numeric values.</span>
                    </li>
                    <li>
                        Green line is the Pitch bend (frequency shifting).
                        <br />
                        <span>Center of the drawing area is the frequency you pick. Top and bottom edges are the octave above and octave below that, respectively.</span>
                    </li>
                    <li>
                        The string animations are for visualization only.<br />
                        <span>They serve no function. Except visualization.</span>
                    </li>
                    <li>
                        The letters on the piano keys mean you can type to play notes.<br />
                        <span>You can click the grey boxes below the piano keys to move the keyboard bindings around.</span>
                    </li>
                </ul>
            </div>
{% endblock %}
{% block popups %}
        <div id='help' class='popup'>
            <div class='title'>
                <h3>Quick Help</h3>
                <a href='#' class='close'>&times;</a>
            </div>
            <ul>
                <li>The line drawings define how your tones go.</li>
                <li>The piano above lets you play your sound as an instrument.</li>
            </ul>
            <div class='hr'></div>
            <p><strong>Timbre</strong>, (the texture of sound; the thing that makes you distinguish between a guitar and a saxaphone) is our perception of the particular overtonic content of a sound.</p>
            <p>This means that a single note you hear has several frequencies playing at once. The loudest frequency is referred to as the note you hear. For example, 110Hz is an A. The other, quieter multiples of the root are its overtones. 220Hz, 330Hz, etc. would be overtones of A.</p>
            <p>Tonehack lets you pick these frequencies yourself, and using your cursor, draw how these frequencies change over time.</p>
            <p>Look through some presets to get an idea of how to create your own timbres.</p>
        </div>
        <div id='save' class=popup>
            <div class='title'>
                <h3>Save and Share instrument</h3>
                <a href='#' class='close'>&times;</a>
            </div>
            <form data-url='{% url save %}'>
                <p>
                First, pick a name:
                </p>
                <p>
                <input type='text' name='name' placeholder='anything will do' value='{{ name_examples|random }}' /><button>Pick</button>
                </p>
            </form>
        </div>
        <div id='presets'>
        </div>
{% endblock %}
