#article { background: #fff; color: #444; border-top: 2px solid #aaa; border-bottom: 2px solid #aaa;}

#article h3 {  }

#article .pageflip { text-align: right; line-height: 20px; margin: 10px 0; }
#article .pageflip .back, #article .pageflip .forward { display: inline-block; height: 20px; width: 20px; border-radius: 25px; background: #eee; border: 2px solid #aaa; text-align: center; }

#article .pages { margin: 20px 0;  font-size: 15px; font-family: "Source Sans Pro";}

#article .controls a.start, #article .controls a.pause { color: #a50; background: none; text-shadow: none; border: none; font-size: 25px; }
#article .controls a.start:after { content: " Play"; }
#article .controls a.pause:after { content: " Stop"; }

#article .parent-canvas { border: 1px solid #aaa; border-top: none; border-left: none; }

.label { text-align: center; color: rgba(0,0,0,0.7); font-size: 0.9em; line-height: 1em; font-style: italic; margin-top: 5px; }

.string { width: 400px; position: relative; }
.clear { clear: both; }

.tip { color: rgba(0,0,0,0.6); font-size: 0.8em; }
