html, body { margin: 0; padding: 0; background: rgba(63, 60, 60, 1); color: #fff; font-family: courier, courier new, monaco, monospace; }

#header, #footer { background: #000; overflow: auto; }
#tonehack { overflow: auto; margin-top: 20px; }
#presets { width: 175px; float: left; margin: 0 5px 10px 0; }
#overtones { position: relative; background: #aaa; padding: 5px; }

canvas { display: block; }
.row { position: relative; margin: 0 0 0 0; }
.row .wave-controls { float: left; position: relative; height: 80px; background: #999; width: 20%; font-size: 12px; line-height: 20px; }
.row .wave-controls .wave-controls-inner { padding: 10px; }
.row.superposed .wave-controls { width: 80%; }

.row .envelopes { float: left; cursor: crosshair; display: block; position: relative; height: 80px; background: #fff; width: 60%; }
.row .envelopes .progress {  position: absolute; top: 0; left: 0; }
.row .spacer { margin: 0 -1px; height: 5px; background: #aaa; border-top: 1px solid #555; border-bottom: 1px solid #ddd; clear: both; }
.row .spacer.last { border-bottom: none; }

.wave-rows { position: relative; border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #555; }
.waves { position: absolute; top: 0; right: 0; width: 20%; background: #fff; }

#footer { padding: 20px; font-size: 12px; line-height: 16px; color: #aaa; text-align: center; }
#footer a { border: none; }

#nav { float: left; }
#nav a { background: #252525; display: inline-block; padding: 0 20px; line-height: 40px; border: none; color: #aaa; text-shadow: 0 -1px 1px #000; }
#nav a.selected { background: rgba(63, 60, 60, 1); }
#nav a:hover { color: #fff; }

#presets h3 { margin: 0; line-height: 26px; }
#presets .preset { display: block; padding: 10px; background: rgba(255,255,255,0.8); border-top: 1px solid #fff; border-bottom: 1px solid #aaa; border-left: 1px solid #fff; border-right: 1px solid #aaa; border-radius: 2px; }

#piano { margin: 20px 0; }

.container { width: 1000px; margin: 0 auto; position: relative; }
            
a { color: #a50; text-decoration: none; border-bottom: 1px solid #ff8000; }
a:hover { color: #b20; }
#footer a:hover { color: #c90; }
            
.controls { font-size: 14px; line-height: 25px; height: 25px; }
.controls .start:after { content: " Preview"; }
.controls .pause:after { content: " Stop"; }
.controls a:hover { color: #fff;  }
.controls a { display: inline-block; min-width: 15px; text-align: center; margin-right: 10px; margin-bottom: 0px; padding: 0 8px; color: #ccc; border: none; display: inline-block; text-decoration: none;}
.controls a.tab { float: right; margin-right: 20px;  background: rgba(255,255,255,0.6); position: relative; z-index: 1000;  padding: 0 15px; color: #000; z-index: 5; }
.controls a.tab:hover { top: 0; }
.controls a.tab.selected { float: right; margin-right: 20px;  background: #fff;  margin-bottom: -3px; color: #000; }

.labels { position: relative; }

.adsr-link .freq { position: absolute; top: 5px; right: 5px; color: #000; font-size: 11px; text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; }

.adsr-link canvas { position: absolute; top: 0; left: 0; }
            
.add-tone { position: absolute; bottom: 15px; right: 15px; font-size: 12px; }

.wave-rows input { width: 50px; background: rgba(255,255,255,0.5); border: 1px solid rgba(0,0,0,0.3); margin: 0 2px; padding: 2px 3px; text-align: right; color: #333; }
.wave-rows input:focus { background: #fff; }
.wave-rows label { display: block; }
.wave-rows label span { display: inline-block; width: 90px; }

.drawing-canvas { position: absolute; top: 0; left: 0; opacity: 0.3; }
.drawing-canvas.active { z-index: 100; opacity: 1; }

.draw-mode { z-index: 200; position: absolute; top: 30px; left: 50%; width: 300px; margin-left: -150px; border-radius: 5px; line-height: 30px; text-align: center; }
.draw-mode a { background: #fff; color: #aaa; display: inline-block; width: 150px; border-radius: 5px; border-bottom: 2px solid #aaa; }
.draw-mode a.volume.selected, .draw-mode a.volume:hover { color: #aa6000; border-bottom: 2px solid #aa6000; }
.draw-mode a.freq.selected, .draw-mode a.freq:hover { color: #00aa00; border-bottom: 2px solid #00aa00; }

h1, h2 { padding: 0; font-weight: normal; text-align: center; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF8000, 0 0 70px #FF8000, 0 0 80px #FF8000, 0 0 100px #FF8000, 0 0 150px #FF8000; color: #fff; }
h1 { margin: 30px 0 5px 0; font-size: 25px; line-height: 28px; text-align: right; }
h2 { font-size: 16px; line-height: 20px; margin: 0; text-align: right; }
h2 span.lt { font-size: 25px; }

